<div class="jumbotron"  style="font-family: 'Bitter', serif;">
    <div class="container">
      <div class="row" style="justify-content: center;">
        <span style="font-size:30px;color: #636363;">Search for all your Education needs</span>
      </div>
        <div class="row" style="padding-top:10px;">
            <div class="form-group col-lg-5">
                
                <input id="Course" class="TextBox" type="text" name="Course"
                       title="Enter first name"
                       placeholder="Course" style="padding: 20px 10px;"/>
            </div>

            <div class="form-group col-lg-5">
            
                <input id="Location" class="TextBox" type="text" name="Location"
                       title="Enter last name"
                       placeholder="Location" style="padding: 20px 10px;"/>
            </div>
            <div class="form-group col-lg-2">
                
                <input type="button" id="submit" class="btn SearchButton"                     
                       value="Search"/>
            </div>
        </div>
        </div>
  </div>