<div class="row" style="font-family: 'Bitter', serif;">
    <div class="col-md-3">
      <div class="card">
       
        <div class="card-body">
            <h4 class="card-title" style="color:#636363;">10-12-2018</h4>
            <p class="card-text" style="color:#797979; line-height: 1.6;text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;">Some example text some example text. Jane Doe is an architect and engineer</p>
          
        </div>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card">        
          <div class="card-body">
            <h4 class="card-title" style="color:#636363;">Jane Doe</h4>
            <p class="card-text" style="color:#797979; line-height: 1.6;text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;;">Some example text some example text. Jane Doe is an architect and engineer</p>
            
          </div>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    
     
    </div>