
<div class="jumbotron" style="font-family: 'Bitter', serif;background-color: white">
  <div class="container">
      <h5 style="color:#6d6d6d">Calender</h5>
    <div class="row" style="font-family: 'Bitter', serif;">
      <div class="col-md-3">
        <div class="card">

          <div class="card-body">
            <h4 class="card-title" style="color:#505050;">10-12-2018</h4>
            <div class="box">
              <img class="media-object" src="assets/placeholder.png" height="18px" width="18px" style="margin-right:5px"
                alt="...">
              <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color:#505050;">10-11-2019</h4>
            <div class="box">
              <img class="media-object" src="assets/placeholder.png" height="18px" width="18px" style="margin-right:5px"
                alt="...">
              <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="color:#505050;">10-11-2019</h4>
              <div class="box">
                <img class="media-object" src="assets/placeholder.png" height="18px" width="18px" style="margin-right:5px"
                  alt="...">
                <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color:#505050;">10-11-2019</h4>
                <div class="box">
                  <img class="media-object" src="assets/placeholder.png" height="18px" width="18px" style="margin-right:5px"
                    alt="...">
                  <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
                </div>
    
              </div>
    
            </div>
          </div>
    </div>
  </div>
</div>