
<div class="jumbotron" style="font-family: 'Bitter', serif;background-color: white">
  <div class="container">
      <h5 style="color:#6d6d6d">Blogs</h5>
    <div class="row" style="font-family: 'Bitter', serif;">
      <div class="col-md-4">
        <div class="card" style="  border: 1px solid #efefef;">
          <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title" style="color:#505050;text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;">Prince Charles charity strikes new pact for girls' education in India</h4>
            <div class="box">
              <img class="media-object" src="assets/placeholder.png" height="18px" width="18px" style="margin-right:5px"
                alt="...">
              <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="  border: 1px solid #efefef;">
          <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title" style="color:#505050;">Jane Doe</h4>
            <div class="box">
              <img class="media-object" src="assets/view.png" height="18px" width="18px" style="margin-right:5px"
                alt="...">
              <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title" style="color:#505050;">Jane Doe</h4>
            <div class="box">
              <img class="media-object" src="assets/view.png" height="18px" width="18px" style="margin-right:5px"
                alt="...">
              <span style="display:inline;color:#797979;line-height: 1.6;">Views</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>