<div class="row" style="font-family: 'Bitter', serif;">
<div class="col-md-3">
  <div class="card" style="  border: 1px solid #efefef;">
    <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title" style="color:#636363;text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;">Prince Charles charity strikes new pact for girls' education in India</h4>
        <p class="card-text" style="color:#797979; line-height: 1.6;">Some example text some example text. Jane Doe is an architect and engineer</p>      
    </div>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
<div class="col-md-3">
    <div class="card" style="  border: 1px solid #efefef;">
      <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title" style="color:#636363;">Jane Doe</h4>
        <p class="card-text" style="color:#797979; line-height: 1.6;">Some example text some example text. Jane Doe is an architect and engineer</p>
        
      </div>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

  <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title" style="color:#636363;">Jane Doe</h4>
          <p class="card-text" style="color:#797979; line-height: 1.6;">Some example text some example text. Jane Doe is an architect and engineer</p>
          
        </div>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>

    <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/bgsearch.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title" style="color:#636363;">Jane Doe</h4>
            <p class="card-text" style="color:#797979; line-height: 1.6;">Some example text some example text. Jane Doe is an architect and engineer</p>            
          </div>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
</div>