<div class="container">
  <div class="row">
    <div class="col-md-9">
      <app-play-school-card>

      </app-play-school-card>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="Typefilter">Type:</label>
        <div [ngClass]="'dropdown'" style="width:100%">
          <input type="text" (input)="onTypeSearchChange($event.target.value)" placeholder="School Type"
            [value]="SearchValue" [(ngModel)]="Type" id="Typefilter" class="form-control dropbtn"
            style="padding: 20px 10px;color:black">
          <div [ngClass]="IsTypedropdown===true?'dropdown-content cc':'dropdown-content'">
            <span class="dropdown-item" (click)="onTypeSelect('a')">Samacheer</span>
            <span class="dropdown-item" (click)="onTypeSelect('b')">CBSC</span>
            <span class="dropdown-item" (click)="onTypeSelect('c')">ICSC</span>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="Cityfilter">City:</label>
          <div [ngClass]="'dropdown'" style="width:100%">
            <input type="text" (input)="onCitySearchChange($event.target.value)" placeholder="City"
              [value]="SearchValue" [(ngModel)]="City" id="Cityfilter" class="form-control dropbtn"
              style="padding: 20px 10px;color:black">
            <div [ngClass]="IsCitydropdown===true?'dropdown-content cc':'dropdown-content'">
              <span class="dropdown-item" (click)="onCitySelect('a')">Samacheer</span>
              <span class="dropdown-item" (click)="onCitySelect('b')">CBSC</span>
              <span class="dropdown-item" (click)="onCitySelect('c')">ICSC</span>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="Locationfilter">Location:</label>
            <div [ngClass]="'dropdown'" style="width:100%">
              <input type="text" (input)="onLocationSearchChange($event.target.value)" placeholder="School Type"
                [value]="SearchValue" [(ngModel)]="Location" id="Locationfilter" class="form-control dropbtn"
                style="padding: 20px 10px;color:black">
              <div [ngClass]="IsLocationdropdown===true?'dropdown-content cc':'dropdown-content'">
                <span class="dropdown-item" (click)="onLocationSelect('a')">Samacheer</span>
                <span class="dropdown-item" (click)="onLocationSelect('b')">CBSC</span>
                <span class="dropdown-item" (click)="onLocationSelect('c')">ICSC</span>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>