<div class="jumbotron" style="font-family: 'Bitter', serif;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6 style="font-family:'Bitter',serif;color:#505050;">Connect With Us</h6>
        <input type="text" class="form-control" placeholder="Name" style="margin-bottom:5px">
        <input type="text" class="form-control" placeholder="Phone" style="margin-bottom:5px">
        <textarea class="form-control" rows="5" id="About" placeholder="About" style="margin-bottom:5px"></textarea>
        <button type="button" class="btn btn-success" style="float:right">Success</button>
      </div>
      <div class="col-md-4" style="text-align: center;
      top: 125px;
      bottom: 10px;
      height: 125px;
      position: relative;">
        <div style=" display: flex;
        justify-content:space-between;">
          <img class="media-object" src="assets/placeholder.png" height="24px" width="24px" style="margin-right:5px">
          <img class="media-object" src="assets/placeholder.png" height="24px" width="24px" style="margin-right:5px">
          <img class="media-object" src="assets/placeholder.png" height="24px" width="24px" style="margin-right:5px">
          <img class="media-object" src="assets/placeholder.png" height="24px" width="24px" style="margin-right:5px">
        </div>
      </div>
      <div class="col-md-4" style="text-align: center;">
          <ul style="list-style-type:none;">
              <li>About</li>
              <li>Privacy</li>
              <li>Team</li>
              <li>Advertise</li>
            </ul> 
      </div>
    </div>

  </div>
</div>